@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
	margin: 0;
    padding: 20px;
    box-sizing: border-box;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
	margin-top: 0;
}

aside {
	flex: 1;
	padding: 10px;
}

footer {
	text-align: left;
    margin-top: 20px;
}

header {
	text-align: left;
    margin-bottom: 20px;
}

img {
	max-width: 75%;
}

main {
    flex: 2;
	padding: 10px;
}

nav {
	flex: 1;
}

#copyright {
	font-size: 80%;
}

#main-container {
	display: flex;
    justify-content: space-between;
    gap: 20px;
}